<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAccessibilityApplicationUsageDescription</key>
	<string>This app requires accessibility permissions to highlight the border of the active window.</string>
</dict>
</plist>
